<div class="main clearfix">
    <!--广告图-->
    <div ng-include=" 'common/banner_img.html' "></div>
    <!--广告一-->
    <div class="banner_nav_five clearfix">
        <img src="http://11563763.s61i.faiusr.com/2/AD0I8_XBBRACGAAgxeWgwAUorbG2GjCdBDiSAw.jpg"/>
        <h2>宠物公益</h2>
        <p>PET ENCYCLOPEDIA</p>
        <span ng-repeat="nav1 in arr_nav1">{{nav1}}</span>
    </div>
    <!--广告二-->
    <div ng-include=" 'common/text(2).html' "></div>
    <!--广告三-->
    <div ng-include=" 'common/text.html' "></div>
    <!--广告四-->
    <div ng-include=" 'common/title.html' "></div>
</div>