<div class="main clearfix">
    <!--广告图-->
    <div ng-include=" 'common/banner_img.html' "></div>
    <!--广告一-->
    <div ng-include=" 'common/text(1).html' "></div>
    <!--广告二-->
    <div ng-include=" 'common/text(2).html' "></div>
    <!--广告三-->
    <div class="banner_nav_seven">
        <div class="b_n_s_top clearfix">
            <div class="n_s_t_img">
                <img src="http://11563763.s61i.faiusr.com/2/AD0I8_XBBRACGAAgovqgwAUo4-rZ6QIwlAQ4jAM.jpg"/>
                <p>右侧肱骨远端粉碎性骨折</p>
            </div>
            <h4>手术案例</h4>
            <h1>股骨粉碎性骨折</h1>
            <span></span>
            <p ng-repeat="pet in arr">
                {{pet.name}}<br/><br/>
                <span>{{pet.ms}}</span>
            </p>
        </div>
        <div class="b_n_s_bottom clearfix">
             <p class="{{$index == 0 ?'b_p':''}}" ng-repeat="pets in arrs">
                {{pets.name}}<br/><br/>
                <span>{{pets.ms}}</span>
            </p>
            <div class="n_s_b_img">
                <img src="http://11563763.s61i.faiusr.com/2/AD0I8_XBBRACGAAgpfqgwAUoxZr-5wYwrAQ4sQM.jpg"/>
                <p>右侧肱骨术后X线片</p>
            </div>
        </div>
    </div>
</div>